#formulario {
  width: 60vw;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 1rem 0;
  border-bottom: 3px solid var(--color-primario);
}

fieldset:nth-of-type(3) {
  border-bottom: none;
}

label {
  display: block;
  margin: .5rem 0;
  padding: 15px 0 0 0;
  font-weight: bold;
}

legend {
  padding: 1rem 0 0 0;
  font-weight: bold;
}

input,
textarea,
select {
  margin: 5px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: var(--color-primario);
  border: 1px solid var(--color-primario);
  color: #fff;
}

select option {
  background-color: var(--color-primario);
  color: white;
}

input::placeholder {
  color: white;
  font-style: italic;
  opacity: .7;
}

textarea::placeholder {
  color: white;
  font-style: italic;
  opacity: .7;
}

.inline {
  display: inline;
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}


.cartelError {
  width: 100%;
  background-color: #e3e166;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  margin-top: 5px;
}

button {
  background-color: var(--color-primario);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  width: 45%;
  font-weight: bold;
}

button:hover {
  text-decoration: none;
  color: var(--color-sec);
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}